

@media all and (max-width: 1375px) and (min-width: 920px) {

    /*-----------Hero Section-------------*/

    main>header>img{
        width: 8%;
    }


    main>header>div{
        width: 20%;
        left: 15%;

    }

    main>div:nth-child(1)>h1:nth-child(2){
        left: 15%;
    }

    .profile-pic {
        width: 55%;
    }

    main>div:nth-child(1)>h4{
        top: 360px;
    }

    .btn-read-more {
        width: 12%;
    }

    .btn-download-cv {
        width: 12%;
        left: 300px;
    }

    .icon-github {
        top: 850px;
    }

    .icon-x {
        top: 850px;
    }

    .icon-email {
        top: 850px;

    }


    /*-----------About Section-------------*/





    /*dp picture background*/
    main:nth-child(2)>section:nth-child(1)>div>div{
        width: 80%;

    }

    main:nth-child(2)>section:nth-child(1)>div>picture{
        top: -410px;

    }

    main:nth-child(2)>section:nth-child(2)>div:nth-child(1)>h1 {
        left: 150px;
        top: -390px;
    }

    main:nth-child(2)>section:nth-child(2)>div:nth-child(1)>h4 {
        left: 168px;
        top: -375px;
    }

    #fpharagraph{
        left: 120px;
    }

    #detailspharagraph{
        font-size: 1em;
        width: 700px;
        left: -30px;
    }


    #detailspharagraph2{
        z-index: -10;
    }

    #detailspharagraph3{
        z-index: -10;
    }

    #about-read-more{
        top: 100px;
        left: 190px;
    }

    #about-download-cv{
        top: 100px;
        left: 300px;
    }

    main:nth-child(2)>section:nth-child(2)>div:nth-child(3){
        top: 200px;
    }


    /*-----------Skill Section-------------*/

    main:nth-child(3) {
        height: 190vh;
    }

    main:nth-child(3)>h1 {
        left: -300px;
    }

    main:nth-child(3)>h4 {
        left: -320px;
        top: 75px;
    }

    #UsingNowfirstLanguages{
        left: -5px;
    }

    #cssLogo{
        left: 5px;
        width: 50%;
    }
    #cssCircle{
        left: 200px;
        width: 15%;
        top: 70px;
    }

    #cssPorcentaje{
        left: 270px;
        top: 190px;
    }

    #cssHighlight{
        left: 40px;
    }

    #cssPharagraph1 ,#cssPharagraph2 {
        left: 90px;
    }

    #htmlLogo{
        left: 500px;
        width: 50%;
    }

    #htmlCircle{
        left: 620px;
        width: 15%;
        top: 50px;
    }

    #htmlProcentaje{
        left: 690px;
        top: 190px;
    }

    #htmlHighlight{
        left: 550px;
    }

    #htmlPharagraph1{
        left: 620px;
        width: 20%;
    }

    #htmlPharagraph2{
        top: 335px;
        left: 620px;
        width: 20%;
    }


    #jscircle{
        left: 990px;
        width: 15%;
        top: 80px;
    }

    #jsProcentaje{
        left: 1070px;
        top: 185px;
    }

    #jsHighlight{
        left: 950px;
    }

    #jsPharagraph1{
        left: 980px;
        width: 100%;
    }

    #jsPharagraph2{
        left: 980px;
        top: 325px;
        width: 100%;

    }

    #UsingNowsecondLanguages{

        left: 380px;
    }

    #githubcircle{
        top: 60px;
        width: 23%;

    }

    #gitHubProcentaje{
        top: 180px;
        left: 120px;
    }

    #gitHubHighlight{
        left: -160px;
    }

    #gitPharagraph1 ,#gitPharagraph2{
        left: -60px;
        width: 30%;

    }

    #figmacircle{
        /*left: 990px;*/
        width: 20%;
        top: 75px;
        left: 380px;
    }


    #figmaProcentaje{
        top: 170px;
        left: 450px;
    }

    #figmaHighlight{
        top: 290px;
        left: 350px;
    }

    #figmaPharagraph1 , #figmaPharagraph2{
        left: 425px;
    }

    #seemore1{
        left: 600px;
    }


    #LearningLanguage{
        left: 2px;
    }

    #nodeJsLogo{
        top: 80px;
        left: 600px;
    }

    #mongoDbLogo{
        top: 2px;
        left: 800px;
    }

    /*-----------Education Section-------------*/

    main:nth-child(4){
        height: 130vh;
    }

    #EducationBackgroundImg{
        left: -20px;
        height: 130vh;
    }

    main:nth-child(4)>h1{
        left: -85px;
    }


    main:nth-child(4)>h4{
        left: -120px;
        top: 55px;
    }

    #educationDetailsSetion{
        left: 55px;
    }

    #educationDetailsSetion img {
        width: 95%;
    }


    /*-----------Services Section-------------*/

    main:nth-child(5) {
        height: 110vh;
    }

    main:nth-child(5)>h1 {
        left: -95px;
    }

    main:nth-child(5)>h4 {
        left: -120px;
        top: 96px;
    }


    #serviceSection {
        width: 100%;
        left: 10px;
    }

    .fpharagraph{
        width: 35%;
    }

    #lpharagraph{
        width: 50%;

    }

    #lastServiceSexction div{
        margin: 50px;
    }


    /*-----------Services Section-------------*/

    main#GalleryPage {
        height: 90vh;
    }

    main#GalleryPage > h4 {
        top: 90px;
    }


    main#GalleryPage section {
        top:-140px;
        left: -15px;
    }

    main#GalleryPage section picture:nth-child(1) {
        top: 130px;
    }





    /*-----------Assignment Section-------------*/


    #assignmentPage h1 {
        left: 500px;
    }

    #assignmentPage h4 {
        left: 590px;
        top: 100px;
    }

    #assignmentPage img[alt="BackgroundImage"] {
        width: 110%;
        left: -100px;
    }

    #leftSideAssignment{
        width: 50%;
        left: 40px;
    }

    #assignmentPage section:nth-of-type(2) {
        width: 50%;
        right: 250px;
    }

    #leftSideAssignment div {
        width: 150%;
    }

    #assignmentPage section:nth-of-type(2) div {
        width: 150%;
    }

    #assignmentPage section:nth-of-type(1) h6 {
        left: 200px;
    }

    #assignmentPage section:nth-of-type(2) h6 {
        left: 200px;
    }

    .leftAssignmentPharagraph{
        left: 150px;
    }

    .AssignmentPharagraph{
        left: 150px;
    }


    /*-----------Blog Post Section-------------*/

    main#blogPostPage > h4 {
        top:90px ;
    }

    #blog-post1 {
        left: 15px;
    }

    #center-blog-post{
        left: 450px;
        height: 88vh;
    }

    #blog-post2 {
        right: 14px;
    }


    /*-----------Blog Post Section-------------*/

    #contactPage > h4 {
        top:60px ;
    }

    .contact-container {
        left: 100px;
        width: 100%;
    }

    .contact-form {
        width: 90%;
    }

    .form-group label {
        left: 120px;
        width: 50%;
    }
    #formOfCustomer{
        top: 180px;
        left: 90px;

    }

    .contact-form h3 {
        top: 90px;
    }


    /*-----------Footer Section-------------*/


    #contentOfFooter{
        left: 600px;
    }

}



@media all and (max-width: 919px) and (min-width: 650px) {


    main:nth-child(1) {
        height: 110vh;
    }

    main>header {
        height: 60px;
    }

    main>header>img{
        width: 8%;
        margin-top: 10px;
    }

    main>header>div{
        left: 180px;
        width: 65%;
    }

    header>nav>ul{
        display: none;
    }

    main>div:nth-child(1)>h1:nth-child(1){
        left: -100px;
    }

    main>div:nth-child(1)>h1:nth-child(2){
        left: 50px;
    }

    main>div:nth-child(1)>h1:nth-child(3){
        left: -100px;
        top: 180px;
    }

    main>div:nth-child(1)>h4{
        top: 260px;
        left: -100px;
    }

    .profile-pic {
        width: 60%;
    }

    .btn {
        top: 430px;
    }

    .btn-read-more {
        width: 14%;
        height: 6vh;
        left: 15px;
    }

    .btn-download-cv {
        width: 15%;
        height: 6vh;
        text-align: center;
        left: 170px;
    }


    .icon-github , .icon-x , .icon-email   {
        top: 590px;
    }

    /*----------------About Page-------------------*/

    main:nth-child(2) {
        height: 150vh;
    }



}





@media all and (max-width: 649px) and (min-width: 426px) {


    main:nth-child(1) {
        height: 100vh;
    }

    main>header {

        height: 50px;
    }

    main>header>img{
        width: 9%;
        margin-left: 10px;
        margin-top: 10px;
    }

    main>header>div{
        font-size: 50%;
        left: 100px;
        height: 0.5%;
        width: 60%;
    }

    main>header>div>img{
        width: 5%;
        height: 2vh;
        margin-bottom: 12px;
        /*display: none;*/
    }



    header>nav>ul{
        display: none;

    }

    main>div:nth-child(1)>h1:nth-child(1){
        left: -100px;
        font-size: 15vw;
        top: -30px;
    }

    main>div:nth-child(1)>h1:nth-child(2){
        top: -30px;
        left: 10px;
        font-size: 15vw;
    }

    main>div:nth-child(1)>h1:nth-child(3){
        left: -100px;
        top: 80px;
        font-size: 15vw;
    }

    main>div:nth-child(1)>h4{
        font-size: 3vw;
        top: 150px;
        left: -100px;
    }

    .profile-pic {
        width: 80%;
        left: 150px;
        top: 250px;
    }

    .btn {
        top: 300px;
    }

    .btn-read-more {
        font-size: 2vw;

        width: 20%;
        height: 5vh;
        left: -15px;
    }

    .btn-download-cv {
        font-size: 2vw;
        width: 23%;

        height: 1vh;
        text-align: center;
        left: 100px;
    }


    .icon-github , .icon-x , .icon-email   {
        width: 6%;

        height: 4vh;
        top: 600px;
    }


    /*----------------About Page-------------------*/

    main:nth-child(2) {
        height: 150vh;
    }

}


@media all and (max-width: 425px) {

    main:nth-child(1) {
        height: 100vh;
    }

    main>header {

        height: 50px;
    }

    main>header>img{
        width: 9%;
        height: 5vh;
        margin-left: 10px;

    }

    main>header>div{
        font-size: 50%;
        left: 100px;
        height: 0.5%;
        width: 60%;
    }

    main>header>div>img{
        width: 5%;
        height: 2vh;
        margin-bottom: 12px;
        /*display: none;*/
    }



    header>nav>ul{
        display: none;

    }

    main>div:nth-child(1)>h1:nth-child(1){
        left: -100px;
        font-size: 15vw;
        top: -30px;
    }

    main>div:nth-child(1)>h1:nth-child(2){
        top: -30px;
        left: 10px;
        font-size: 15vw;
    }

    main>div:nth-child(1)>h1:nth-child(3){
        left: -100px;
        top: 80px;
        font-size: 15vw;
    }

    main>div:nth-child(1)>h4{
        color: slategray;
        font-size: 3vw;
        top: 150px;
        left: -100px;
    }

    .profile-pic {
        width: 85%;
        left: 120px;
        top: 350px;
    }

    .btn {
        top: 320px;
    }

    .btn-read-more {
        font-size: 2vw;

        width: 20%;
        height: 4vh;
        left: -15px;
    }

    .btn-download-cv {
        font-size: 2vw;
        width: 23%;

        height: 1vh;
        text-align: center;
        left: 100px;
    }


    .icon-github , .icon-x , .icon-email   {
        width: 7%;
        margin-left: -5px;
        height: 4vh;
        top: 780px;
    }


    /*----------------About Page-------------------*/

    main:nth-child(2) {
        height: 150vh;
    }

}































































/*-----------------------------------------------------------------------------------*/

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*hero section*/
main:nth-child(1) {
    margin: 0;
    padding: 0;
    height:auto;
    background: linear-gradient(black,#E5E5E5);
}

/*header*/
main>header {
    background-color: black;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;

}





main>header>img{
    width: 5vw;
    height: 6vh;
}

main>header>h4 {
    color: ghostwhite;
    font-size: 1vw;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    font-style: normal;
    position: absolute;
    /*margin: 10px 120px;*/
    margin: 22px;
    right: 0;
    left: 50px;
    bottom: 0;
    top: 0;
    padding: 3px;
}


main>header>div{
    color: floralwhite;
    font-size: 1rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    font-style: normal;
    position: absolute;
    /*margin: 10px 120px;*/
    margin: 12px;
    right: 0;
    left: 300px;
    bottom: 0;
    top: 0;
    border: 1px solid white;
    width: 20vw;
    height: 4vh;
    padding: 15px;
    background-color: #292C35;
    cursor: text;
}

main>header>div>img{

    position: absolute;

    margin: 22px;
    right: -10px;
    /*left: 300px;*/
    /*bottom: 200px;*/
    top: -16px;

    width: 2em;
    height: 2em;

    /*padding: 7px;*/


}
header * {
    z-index: 20;
}
header>nav {
    /*height eka widiyata content eke hight eka lesa salakanna*/
    height: fit-content;
    z-index: 50;
}


header>nav>ul{
    list-style: none;

    font-family: "Hammersmith One", sans-serif;
    font-style: normal;

    /*background-color: #B3B3B3;*/
    color: aliceblue;
    right: 40px;
    bottom: 3px;
    position: absolute;
    margin: 20px 20px;


}

header>nav>ul>li {
    display: inline;
    font-size: 1vw;
    margin: 20px;
    right: 20px;
    cursor: pointer;
}

header>nav>ul>li{
    text-decoration: none;
}


main:nth-child(1)>main {
    position: relative;
    display: flex;
    /*height: 94vh;*/
    overflow: hidden; /* Ensure no image overflow */
}





main>div:nth-child(1)>h1:nth-child(1){
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 8vw;
    color: black;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 140px;
}


main>div:nth-child(1)>h1:nth-child(2){
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 8vw;
    color: white;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 285px;
    margin: 140px;


}

main>div:nth-child(1)>h1:nth-child(3){
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 8vw;
    color: white;
    position: absolute;
    top: 250px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 140px;

}

main>div:nth-child(1)>h4{
    font-family: "New Amsterdam", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1vw;
    color: #B3B3B3;
    position: absolute;
    top: 410px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 140px;

}


/*Buttons styling*/
.btn {
    padding: 15px 25px;
    font-size: 1em;

    font-family: "New Amsterdam", sans-serif;
    font-weight: bold;
    font-style: normal;
    margin: 30px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 650px;

}

.btn-read-more {
    background-color: black;
    color: white;
    left: 120px;
    width: 6vw;
    height: 5vh;

}

.btn-download-cv {
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    border: 3px solid black;
    color: black;
    left: 270px;
}

/* Profile Picture Styling */
.profile-pic {
    border-radius: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50px;
    display: flex;
}

.icon-github {
    margin: 10px;
    position: absolute;
    top: 950px;
    left: 6px;
}

.icon-x {
    margin: 10px;
    position: absolute;
    top: 950px;
    left: 50px;
}

.icon-email {
    margin: 10px;
    position: absolute;
    top: 950px;
    left: 100px;
}

