

header{
    background-color: black;
    position: relative;
    width: auto;
    height: 60px;
}



header>h4{
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: aliceblue;
    /*margin: 90px;*/
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header>nav>ul{
     list-style: none;

    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-weight: bold;
    color: aliceblue;
    right: 300px;

}

header>nav>ul>li{
    display: inline;
    font-size: 18px;
    margin: 12px;
    right: 120px;

}

header>nav{
    /*background-color: #15a1cc;*/
    /*height eka widiyata content eke hight eka lesa salakanna*/
    height: fit-content;
    position: absolute;

    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;

}


main>div:nth-child(1){
    width: 60%;
    height: 94vh;
    background-color: #292C35;

}

main{
    position: relative;
}

main>div:nth-child(2){
    width: 40%;
    height: 94vh;
    background-color: #000000;
    top: 0;
    right: 0;
    position: absolute;
}


 /*main>div:nth-child(3)>h1:nth-child(1){*/
 /*    font-family: "New Amsterdam", sans-serif;*/
 /*    font-weight: bold;*/
 /*    font-style: normal;*/
 /*    font-size: 120px;*/
 /*    color: black;*/
 /*    position: absolute;*/

 /*}*/

